<% content_for :title, "Events" %>
<div class="row mt-4 pt-4">
  <div class='col-sm-8 m-auto'>
    <%= link_to 'New Event', new_event_path, class: 'btn btn-dark btn-sm mb-2 float-right' %>
    <div class='table-responsive'>
      <table id='events' class='table table-borderless'>
        <thead>
        <tr>
          <th>Title</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @events.each do |event| %>
          <tr>
            <td class="text-truncate"><%= event.title %></td>
            <td><%= "#{event.start_date.strftime('%m/%d/%Y')} #{event.start_date.strftime('at %I:%M%p')}" %></td>
            <td><%= "#{event.end_date.strftime('%m/%d/%Y')}  #{event.end_date.strftime('at %I:%M%p')}" %></td>
            <td>
              <%= link_to 'Show', event %>
              <%= link_to 'Edit', edit_event_path(event) %>
              <%= link_to 'Destroy', event, method: :delete, class: 'text-danger',data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>