<div class="card mb-12 mr-auto ml-auto mt-4" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title"><%= @event.title %></h5>
        <p class="card-text"><%= @event.description %></p>
        <p class="card-text mb-0">
          <small class="text-muted">From:  <%= "#{@event.start_date.strftime('%m/%d/%Y')} #{@event.start_date.strftime('at %I:%M%p')}" %></small>
        </p>
        <p class="card-text">
          <small class="text-muted">To:  <%= "#{@event.end_date.strftime('%m/%d/%Y')} #{@event.end_date.strftime('at %I:%M%p')}" %></small>
        </p>
        <p class="card-text"><small class="text-muted">Status:  <%= @event.status.capitalize %></small></p>
      </div>
    </div>
  </div>
  <div class="actions mb-2 pr-3 pl-3">
    <%= link_to 'Go Back', events_path, class: 'btn btn-sm btn-dark' %>
    <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-sm btn-dark float-right' %>
  </div>
</div>